body {
    font-family: "Roboto", sans-serif;
}

.heading-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-left: 260px;
    float: left;
    padding: 5px;
    border: 2px solid rgb(3, 177, 70);
    background-color: rgb(3, 177, 70, 0.25);
}

.heading-main {
    font-size: 36px;
    margin-left: 540px;
    color: rgb(22, 166, 0);
    padding-top: 25px;
}

.heading-sub-main {
    font-size: 28px;
    margin-left: 540px;
    padding-top: 25px;
}

.contact-info {
    align-content: center;
    display: inline;
    margin: 20px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}

#contact {
    text-align: center;
    padding-top: 40px;
}

hr {
    width: 90%;
    height: 1px;
}

.about-me {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 45px;
    margin-left: 15px;
    color: rgb(22, 166, 0);
}

.work-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 15px;
    color: rgb(22, 166, 0);
}

.about-text {
    width: 60%;
    float: right;
    border-left: 2px solid rgba(30, 30, 30, 0.297);
    padding-left: 35px;
    padding-right: 20px;
    font-family: "Roboto", sans-serif;
}

p, li {
    font-size: 18px;
    letter-spacing: 1px;
}

.skills-career-history {
    float: left;
    width: 35%;
}

h3, h4 {
    text-align: center;
    font-size: 18px;
}

.good-mark {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: greenyellow;
}

.bad-mark {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: red;
}

.skill-title {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 15px;
    color: rgb(22, 166, 0);
}